.veg-prices {
    font-style: italic;
}

.title {
    color: #68A51C;

    font-size: 60px;
}



.footer {
    margin-top: 50px;
    color: #68A51C;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
}